/* =================Comentarios================================ */

.hide-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
/* ============================================================= */

.wrapper {
    position: relative;
    display: flex;
    overflow: hidden;
    height: 10vw;
    /* border: 2px solid floralwhite; */
}
:root{
    --duration: 15s;
    --totalitens: 4;
}

.img-item{
    position: absolute;
    height: inherit;
    width: 20vw;
    left: 100%;
    animation: infinite-scroll var(--duration) infinite linear;
    animation-delay: calc(var(--duration)/var(--totalitens) * (var(--totalitens ) - var(--i))* -1);
}
img{
    height: inherit;
}
@keyframes infinite-scroll {
    to{
        left: -8vw;
    }
}

@media (max-width: 1024px) { 
  .wrapper {
    height: 12vw;
    gap:10px ;
  }
}

@media (max-width: 768px) { 
  .wrapper {
    height: 18vw;
    width: auto;
    gap: 15px;
  }
}

@media (max-width: 480px) { 
  .wrapper {
    height: 25vw;
    gap: 10px;
  }
}